html {
  font-size: 10px;
  scroll-behavior: smooth;
}

body {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 1.7rem;
  color: #131313;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

p {
  margin: 0;
}

/* Container */
.container {
  width: 100%;
  max-width: 122rem;
  padding: 0 1rem;
  margin: 0 auto;
}

/* Header */
.header__inner {
  margin-top: 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Menu */
.menu {
  margin-right: 7rem;
}

.menu__list {
  display: flex;
}

.menu__item + .menu__item {
  padding-left: 1rem;
}

.menu__link {
  text-transform: uppercase;
  padding: 4.3rem 2rem;
  transition: all 0.3s;
}

.menu__link:hover {
  background-color: #00205f;
  color: #fff;
}

/* Car */
.car {
  padding: 10rem 0 7.5rem;
}

.car__inner {
  display: flex;
  justify-content: space-between;
}

.car__title {
  font-size: 6.4rem;
  font-weight: 700;
  line-height: 7.7rem;
  margin: 7rem 0 0.5rem;
}

.car__subtitle {
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 3.8rem;
  color: #6f6f6f;
  margin: 0 0 6rem;
}

.car__text {
  max-width: 43rem;
  margin-bottom: 2rem;
}

.car__link {
  margin-top: 8rem;
  display: inline-block;
  padding: 2.8rem 6.5rem;

  font-size: 2rem;
  line-height: 2.4rem;
  text-transform: uppercase;
  letter-spacing: 1.1em;
  color: #fff;

  background-color: #00205f;
  transition: all 0.3s;
}

.car__link:hover {
  background-color: #ff4040;
}

/* Slider-car */
.car__column-slider {
  flex-basis: 63rem;
  margin-left: 3rem;
  max-width: 63rem;
}

.car-slider .slick-dots {
  right: 0;
  top: 5rem;
}

.slick-dots {
  position: absolute;
  top: 0;
}

.slick-dots li + li {
  padding-top: 1rem;
}

.slick-dots button {
  font-size: 0;
  padding: 0;
  border: none;

  width: 0.2rem;
  height: 2.5rem;
  border-radius: 0.7rem;
  cursor: pointer;

  background-color: #131313;
  transition: all 0.3s;
}
.slick-dots button:hover,
.slick-active button {
  background-color: #ff4040;
}

.car__list {
  margin-top: 2.5rem;
  display: flex;
  justify-content: space-around;
}

.car__list-item {
  min-width: 16rem;
  min-height: 5.8rem;
  display: flex;
  flex-direction: column;
  align-items: center;

  text-align: center;
}

.car__list-num {
  font-weight: 700;
  text-transform: uppercase;
}

.car__list-text {
  margin: auto 0;

  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.5rem;
}

/* Info */
.info {
  padding-top: 7.5rem;
  margin-bottom: 7.5rem;
}

.info__inner {
  display: flex;
}

.info__img {
  margin-right: 6rem;
  flex-basis: 57rem;
  object-fit: covers;
}

.info__list {
  flex-basis: 49rem;
}

.info__item + .info__item {
  padding-top: 5rem;
}

.info__item-title {
  margin: 0 0 1rem;

  font-size: 1.6rem;
  line-height: 1.9rem;
  text-transform: uppercase;
}

.info__item-text {
  max-width: 45rem;
}

/* Characteristics */
.characteristics {
  padding-top: 7.5rem;
  margin-bottom: 7.5rem;
}

.characteristics__head {
  margin: 0 0 4rem;

  font-size: 1.6rem;
  line-height: 1.9rem;
  text-transform: uppercase;
}

.characteristics__inner {
  display: flex;
}

.characteristics__img-first {
  align-self: center;
}

.characteristics__img-second {
  display: none;
}

.characteristics__items {
  flex-basis: 57rem;
  margin-right: 6rem;
}

.characteristics__list + .characteristics__list {
  padding-top: 3rem;
}

.characteristics__title {
  padding: 0.2rem 0 0.3rem;

  font-weight: 700;
  text-transform: uppercase;
  color: #fff;

  background-color: #131313;
}

.characteristics__line {
  display: flex;
  padding-top: 0.5rem;
}

.characteristics__name {
  flex-basis: 28.5rem;
  padding-right: 2rem;
}

.characteristics__desc {
  flex-basis: 28.5rem;
}

/* Slider */
.slider {
  padding-top: 7.5rem;
  margin-bottom: 5rem;
}

.slider__item {
  padding-left: 5rem;
}

/* Order */
.order {
  margin-bottom: 10rem;
}

.order__inner {
  position: relative;
}

.form {
  max-width: 42rem;
}

.form__title {
  margin-bottom: 4rem;

  font-size: 1.6rem;
  line-height: 1.9rem;
  text-transform: uppercase;
}

.form__text {
  max-width: 30rem;
  margin-bottom: 3rem;
}

.form__input-name,
.form__input-tel {
  width: 100%;
  padding-bottom: 1rem;
  margin-bottom: 2rem;
  border: none;
  border-bottom: 0.1rem solid #131313;
  outline: none;
}

.form__input-name::placeholder,
.form__input-tel::placeholder,
.form__input-text {
  color: #6f6f6f;
  opacity: 0.5;
}

.form__input-text {
  margin-bottom: 1rem;
}

.form__label-box {
  display: flex;
  margin-bottom: 5rem;
}

.form__label + .form__label {
  margin-left: 2.3rem;
}

.form__input-radio {
  position: absolute;
  width: 0.1rem;
  height: 0.1rem;
  overflow: hidden;
  clip: rect(0 0 0 0);
}

.form__input-radio:checked + .form__car {
  display: block;
}

.form__car {
  display: none;
  position: absolute;
  right: 0;
  top: 0;
}

.form__car-price {
  width: 29rem;
  height: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 2.8rem;
  left: 0;
  right: 0;

  font-size: 3rem;

  border: 0.1rem solid #ff4040;
  border-radius: 50%;
  transform: translateX(-50%);
}

.form__car-price::after {
  content: '';
  width: 29rem;
  height: 10rem;
  position: absolute;
  top: 0.8rem;
  left: 0;

  border: 0.1rem solid #ff4040;
  border-radius: 50%;
}

.form__radio-style {
  width: 8rem;
  height: 1.2rem;

  border-radius: 30px;
}

.form__radio-style--blue {
  background: #0094c4;
  cursor: pointer;
}

.form__radio-style--white {
  border: 1px solid #6f6f6f;
  background: #fff;
  cursor: pointer;
}

.form__radio-style--yellow {
  background: #dfea5c;
  cursor: pointer;
}

.form__btn {
  padding: 2.8rem 6.5rem;

  font-size: 2rem;
  line-height: 2.4rem;
  text-transform: uppercase;
  letter-spacing: 1.1em;
  color: #fff;
  border: none;
  cursor: pointer;

  background: #00205f;
  transition: all 0.3s;
}

.form__btn:hover {
  background-color: #ff4040;
}

/* Footer */
.footer {
  background-color: #000000;
}

.footer__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10rem;
}

.footer__link {
  font-size: 1.2rem;
  line-height: 1.4rem;
  color: #fff;
  text-decoration: underline;
}

.footer__social-link + .footer__social-link {
  margin-left: 2.8rem;
}

.footer__contacts-link {
  font-size: 1.2rem;
  line-height: 1.4rem;
  color: #fff;
}

.footer__contacts-link {
  display: flex;
  align-items: center;
}

.footer__contacts-link + .footer__contacts-link {
  margin-top: 1rem;
}

.footer__contacts-img {
  margin-right: 1rem;
}

@media (max-width: 1120px) {
  /* Car */
  .car {
    padding: 0;
  }

  .car__inner {
    flex-wrap: wrap;
  }

  .car__text {
    max-width: 100%;
  }

  .car__subtitle {
    margin: 0 0 3rem;
  }

  .car__link {
    margin-top: 3rem;
  }

  .car__column-slider {
    max-width: 100%;
    margin-left: 0;
  }

  /* Info */
  .info__img {
    display: none;
  }

  .info__list {
    flex-basis: 100%;
  }

  .info__item-text {
    max-width: 100%;
  }

  .info {
    padding-top: 5rem;
    margin-bottom: 5rem;
  }

  /* Characteristics */
  .characteristics {
    padding-top: 5rem;
    margin-bottom: 5rem;
  }

  .characteristics__inner {
    flex-wrap: wrap;
  }

  .characteristics__img-first {
    display: none;
  }

  .characteristics__img-second {
    display: block;
    order: -1;
    margin-bottom: 3rem;
    width: 100%;
  }

  .characteristics__items {
    flex-basis: 100%;
    margin-right: 0;
  }

  .characteristics__name {
    flex-basis: 50%;
  }

  .characteristics__desc {
    flex-basis: 50%;
  }

  /* Slider */
  .slider__img {
    object-fit: cover;
    height: 55rem;
  }

  /* Order */
  .order {
    margin-bottom: 5rem;
  }

  .form__car-img {
    width: 50rem;
  }

  .form__car {
    padding-top: 8rem;
  }
}

@media (max-width: 991px) {
  /* Menu */
  .menu {
    margin-right: 0;
  }

  /* Slider */
  .slider__img {
    object-fit: cover;
    height: 50rem;
  }

  /* Order */
  .form__label-box {
    margin-bottom: 30rem;
  }

  .form__car {
    padding-top: 0;
    top: 31rem;
    left: 0;
  }

  .form__car-img {
    width: 44rem;
  }

  .form__car-price {
    left: 68rem;
  }
}

@media (max-width: 850px) {
  /* Order */
  .form__car-price {
    top: -3.2rem;
    left: 47rem;
  }
}

@media (max-width: 640px) {
  /* Header */
  .header__inner {
    display: block;
    text-align: center;
  }

  /* Menu*/
  .menu {
    margin-top: 5rem;
  }

  .menu__list {
    justify-content: space-evenly;
  }

  .menu__item + .menu__item {
    padding-left: 0;
  }

  .menu__link {
    padding: 2.5rem 2rem;
  }

  /* Car*/
  .car__title {
    font-size: 4.4rem;
    line-height: 5.7rem;
    margin: 3rem 0 0.5rem;
  }

  .car__subtitle {
    margin: 0 0 2rem;
    font-size: 2.6rem;
    line-height: 3rem;
  }

  .car__list {
    flex-wrap: wrap;
  }

  .car__list-item {
    min-width: 50%;
    margin-bottom: 2rem;
  }

  /* Info */
  .info__item + .info__item {
    padding-top: 3rem;
  }

  /* Characteristics */
  .characteristics__img-second {
    display: none;
  }

  .characteristics__img-first {
    display: block;
    order: -1;
    margin-bottom: 3rem;
    width: 100%;
  }

  /* Slider */
  .slider__img {
    object-fit: cover;
    height: 32rem;
  }

  /* Order */
  .form__car-price {
    font-size: 2.2rem;
    top: -2.2rem;
    left: 9.5rem;
    border: 0;
  }

  .form__car-price::after {
    border: 0;
  }
}

@media (max-width: 460px) {
  /* Menu */
  .menu__list {
    justify-content: space-between;
  }

  /* Car, Order */
  .car__link,
  .form__btn {
    padding: 2rem 4rem;
    font-size: 1.6rem;
    letter-spacing: 1em;
  }

  .form__car-img {
    width: 37rem;
  }

  .form__label-box {
    margin-bottom: 26rem;
  }

  .form__car-price {
    font-size: 1.8rem;
    top: -2.2rem;
    left: 7.5rem;
    border: 0;
  }

  /* Slider */
  .slider {
    display: none;
  }
}

@media (max-width: 380px) {
  /* Menu */
  .menu {
    margin-top: 3rem;
  }

  .menu__link {
    padding: 2rem 1rem;
    font-size: 1.3rem;
  }

  /* Car*/
  .car__title {
    font-size: 3.4rem;
  }

  .car__subtitle {
    margin: 0 0 1.5rem;
    font-size: 2.2rem;
  }

  /* Order */
  .form__car {
    padding-top: 9px;
  }

  .form__car-img {
    width: 33rem;
  }

  .form__label-box {
    margin-bottom: 24rem;
  }
}
